version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: shopsphere-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Bunny@120
    volumes:
      - pgdata:/var/lib/postgresql/data

  auth-service:
    image: shopsphere/auth-service:1.0
    container_name: auth-service
    ports:
      - "8082:8081"
    depends_on:
      - postgres
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/auth_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: Bunny@120

volumes:
  pgdata:
